.blogs {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);

  &__container {
    flex-direction: column;
    min-height: 100vh;
    padding: 80px 0 0 0;
  }
  &__item {
    position: relative;
    border: 1px solid white;
  }
  &__image {
    left: 0;
    right: 0;
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  &__title {
    font-family: 'Times New Roman Regular';
    font-weight: 900;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 45px;
    text-shadow: 5px 5px #235fe2;
  }

  &__subtitle {
    font-family: 'Times New Roman Regular';
    font-weight: 900;
    color: rgb(255, 255, 255);
    font-size: 45px;
    margin: 100px 0 0 0;
    border-bottom: 1px solid white;
  }

  &__text {
    font-family: 'Times New Roman Regular';
    font-size: 25px;
    margin: 50px 0 100px 0;
    padding: 0 0 40px 0;
  }
}

@media (max-width: '580px') {
  .blogs {
    &__title {
      top: 40%;
      left: 10%;
      font-size: 30px;
    }
    &__subtitle {
      font-size: 30px;
    }
  }
}

@media (max-width: '320px') {
  .blogs {
    &__title {
      top: 40%;
      left: 5%;
      font-size: 30px;
    }
  }
}

.blog {
  color: #fff;
  padding: 125px 0 125px;

  &__clouse-button {
    background-color: rgb(13, 134, 204);
    padding: 10px 40px;
    font-size: 17px;
    font-weight: 800;
    border-radius: 5px;
    margin: 20px 0 20px;
    cursor: pointer;
    transition: 1s;
    &:hover {
      background-color: rgb(11, 93, 141);
    }
  }

  &__tiitle {
    font-size: 30px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.75px;
    max-width: 620px;
    margin: 0 auto;
    padding: 29px 0 127px;
  }

  &__child {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  &__img {
    object-fit: cover;
    width: 50%;
    height: 50%;
  }

  &__calender {
    padding: 61px 90px 61px 0;
  }
  &__link {
    font-family: 'Times New Roman Regular';
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 1.25px;
    cursor: pointer;

    &:hover {
      color: #00897b;
      transition: 0.7s;
    }
  }

  &__info {
    color: #212121;
    font-size: 17px;
    font-weight: 400;
    margin: 28px 0 32px;
  }

  &__message {
    font-family: 'Times New Roman Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.75px;
    max-width: 448px;
  }

  &__button {
    margin: 153px 0 0 0;
    text-align: center;

    &__link {
      border: 2px solid #00897b;
      padding: 28px 52px;
      color: #212121;
      font-size: 20px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: 1.5s;

      &:hover {
        background-color: #00897b;
        color: #ffffff;
      }
    }
  }
}

@media (max-width: 980px) {
  .blog {
    &__child {
      justify-content: center;
      border-bottom: 1px solid #fff;
      margin: 0 0 100px;
    }
  }
}

@media (max-width: 768px) {
  .blog {
    &__img {
      max-width: 440px;
      max-height: 400px;
    }
  }
}

@media (max-width: 480px) {
  .blog {
    padding: 65px 0 65px;

    &__img {
      min-width: 270px;
      height: 300px;
    }
    &__date {
      padding: 0 13px 20px 0;
      display: block;
    }

    &__whats {
      &::before {
        padding: 0 13px 0 0;
      }
    }
    &__calender {
      padding: 10px 0;
    }

    &__button {
      margin: 103px 0 0;
    }
  }
}

@media (max-width: 320px) {
  .blog {
    &__date {
      padding: 0 13px 20px 0;
      display: block;
    }

    &__whats {
      &::before {
        padding: 0 13px 0 0;
      }
    }

    &__info {
      display: inline-block;
    }
  }
}
