.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
  color: #fff;

  &__form {
    width: 580px;
    display: flex;
    flex-direction: column;

    &__wrapper {
      display: flex;
      justify-content: center;
      // margin-top: 100px;
    }

    &__name {
      width: 100%;
      background: #3949ab;
      height: 38px;
      border: 1px solid #f0eef3;
      color: #fff;
      font-weight: 800;
      padding: 0 10px;
    }

    &__email {
      padding: 0 10px;
      width: 100%;
      background: #3949ab;
      height: 38px;
      border: 1px solid #fff;
      color: #fff;
      font-weight: 800;
      margin: 10px 0;
    }

    &__text {
      padding: 10px 10px;
      width: 100%;
      background: #3949ab;
      height: 200px;
      border: 1px solid #ffff;
      color: #fff;
      font-weight: 800;
      margin: 0 0 10px 0;
      resize: none;
    }

    &__button {
      height: 38px;
      background: #3949ab;
      color: #fff;
      border: 1px solid #ffff;
      font-size: 20px;
      font-weight: 900;
      cursor: pointer;
      transition: 2s;
      &:hover {
        background: rgba(4, 52, 97, 0.992);
      }
    }
  }
}

@media (max-width: 500px) {
  .contacts {
    &__form {
      &__wrapper {
        margin-top: 0;
      }
    }
  }
}
