.blogPopUp {
  z-index: 20000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.822);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    max-height: 100%;
    object-fit: cover;
    min-width: 95%;
    border-radius: 10px;
    margin: 0 10px;
  }

  &__item {
    display: flex;
    justify-content: center;
    margin: 100px 10px 50px;
    width: 100%;
    height: 500px;
    border-radius: 30px;
  }

  &__subtitle {
    font-family: 'Times New Roman Regular';
    font-size: 35px;
    margin: 15px 0 50px;
    font-weight: 800;
  }

  &__text {
    font-family: 'Times New Roman Regular';
    font-weight: 600;
    font-size: 22px;
    padding: 0 10px;
    margin: 0 0 50px 0;
    white-space: pre-wrap;
  }

  &__button {
    background-color: rgb(13, 134, 204);
    padding: 10px 40px;
    font-size: 17px;
    font-weight: 800;
    border-radius: 5px;
    margin: 0 0 20px;
    cursor: pointer;
    transition: 1s;
    &:hover {
      background-color: rgb(11, 93, 141);
    }
  }
}
