.main {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__profession {
    display: block;
  }

  &__particles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }

  &__wrapper-conteiner {
    z-index: 99;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: #141e309d;
    background: -webkit-linear-gradient(to right, #243b554b, #141e30d3);
    background: linear-gradient(to right, #243b5546, #141e301c);

    width: 100%;
    padding: 0 10px;
  }

  &__profession {
    display: inline-block;
    font-size: 16px;
    color: #bbb;
    font-weight: 700;
  }

  &__wrapper {
    border: 1px solid;
    height: 570px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__left {
      max-height: 570px;
      width: 480px;
    }

    &__right {
      width: 480px;
      display: flex;
      align-items: center;
      margin: 0 0 40px;

      &-inner {
        width: 100%;
        color: #ffff;
        font-weight: 800;
      }
    }
  }

  &__name {
    font-family: 'Andalusia Script';
    display: block;
    font-size: 70px;
    color: #fff;
    line-height: 80px;
  }

  &__surname {
    font-family: 'Andalusia Script';
    display: block;
    font-size: 70px;
  }

  &__typing-effect {
    font-family: 'Andalusia Script';
  }
  &__photo {
    background-size: cover;
    height: 570px;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1239px) {
  .main {
    &__container {
      padding: 70px 0 10px;
    }
    &__profession {
      margin: 20px 0 10px 0;
    }

    &__wrapper {
      &__left {
        margin: 50px 0 0px;
      }
      &__right {
        margin: 0 0 10px 0;
      }
    }
    &__photo {
      height: 570px;
      object-fit: cover;
    }
  }
}

@media (max-width: 1224px) {
  .main {
    &__photo {
      height: 470px;
      width: 380;
    }
  }
}

@media (max-width: 500px) {
  .main {
    min-height: 100vh;
    &__name {
      font-size: 30px;
    }

    &__surname {
      font-size: 30px;
    }

    &__wrapper {
      &__left {
        max-height: 50vh;
        width: 480px;
        margin: 10px 0;
      }

      &__right {
        margin: 10px 0;
      }
    }
    &__photo {
      height: 300px;
    }
  }
}
