.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);

  &__video-wrapper {
    min-width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    padding: 80px 0 0 0;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__text {
    margin: 0px 0 80px;
    font-size: 25px;
    font-family: 'Andalusia Script';
  }
}
